* {
  font-family: "poppins", "sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.main-div {
  max-width: 100%;
}

header {
  width: 100%;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

/* main img banner holding the image and the text */
.primary-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 15px;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#070707), to(rgba(7, 7, 7, 0))), url("../../IMG/big-lock.jpg");
  background-image: linear-gradient(to right, #070707, rgba(7, 7, 7, 0)), url("../../IMG/big-lock.jpg");
  background-position: center;
  width: 100%;
  height: 681px;
  color: white;
  padding: 10px 0px 0px 0px;
}

.main-banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bm-cyb-sec-h1 {
  font-size: 48px;
}

.bm-small-text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

/* banner text */
.banner-main-text {
  text-align: center;
}

.container-block-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 15px 50px 15px;
}

.block-cards {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 15px 0px;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  color: #333645;
  width: 100%;
  max-width: 720px;
  max-height: 290px;
}

.block-h2 {
  font-size: 1.125rem;
  margin: 0 0 11px;
}

.block-p {
  font-size: 13px;
}

.black-line {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  margin: auto;
  width: 28px;
  height: 3px;
}

#bespoke-sw:hover {
  background-color: #67809f;
  color: #ffffff;
}

#bespoke-sw:hover .bespoke-btn {
  background-color: #ffffff;
  color: #67809f;
}

#bespoke-sw:hover .dots {
  background-color: #ffffff;
  color: #67809f;
}

#it-sup:hover {
  background-color: #4183d7;
  color: #ffffff;
}

#it-sup:hover .it-sup-btn {
  background-color: #ffffff;
  color: #4183d7;
}

#it-sup:hover .monitor {
  background-color: #ffffff;
  color: #4183d7;
}

#dig-mark:hover {
  background-color: #2ecc71;
}

#dig-mark:hover .digi-mark-btn {
  background-color: #ffffff;
  color: #2ecc71;
}

#dig-mark:hover .graph {
  background-color: #ffffff;
  color: #2ecc71;
}

#tel-serv:hover {
  background-color: #d64541;
}

#tel-serv:hover .telecoms-btn {
  background-color: #ffffff;
  color: #d64541;
}

#tel-serv:hover .telephone {
  background-color: #ffffff;
  color: #d64541;
}

#web-serv:hover {
  background-color: #926fb1;
}

#web-serv:hover .web-des-btn {
  background-color: #ffffff;
  color: #926fb1;
}

#web-serv:hover .angle-brac {
  background-color: #ffffff;
  color: #926fb1;
}

#cyber-sec:hover {
  background-color: #f62459;
}

#cyber-sec:hover .cyber-sec-btn {
  background-color: #ffffff;
  color: #f62459;
}

#cyber-sec:hover .c-sec {
  background-color: #ffffff;
  color: #f62459;
}

#dev-train:hover {
  background-color: #926fb1;
}

#dev-train:hover .dev-train-btn {
  background-color: #ffffff;
  color: #926fb1;
}

#dev-train:hover .scs {
  background-color: #ffffff;
  color: #926fb1;
}

.latest-title-container {
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.latest-text-main {
  display: block;
  padding: 40px 0;
  color: #333645;
  font-size: 1.25rem;
  font-weight: 600;
}

.latest-line {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.latest-news-title {
  list-style-type: none;
  position: relative;
  width: 71px;
}

.latest-cards-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
}

.latest-cards {
  padding: 15px 15px 15px 15px;
  font-size: 13px;
}

.container-nm {
  background-color: #333645;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-nm-only {
  padding-left: 15px;
  padding-right: 15px;
}

.about-nm-title {
  font-size: 36px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-nm {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
}

.prem-res {
  background-size: cover;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 0;
}

.birthday {
  background-size: cover;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.jordan {
  background-size: cover;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.prem-res-title {
  color: #4183d7;
}

.bday-title {
  color: #4183d7;
}

.jordan-title {
  color: #926fb1;
}

.news-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 0.875rem;
  padding-left: 20px;
  line-height: 1.375rem;
}

.posted-by {
  color: #666666;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posted-by p {
  margin: 0;
}

.posted-by::after {
  border-top: 1px solid #ccc;
  display: block;
  width: 90%;
}

.little-nm {
  width: 47px;
  height: 47px;
  vertical-align: middle;
}

.img-container-1 {
  border: 1px solid #cccccc;
  margin-bottom: -20px;
  height: auto;
  max-width: 100%;
  position: relative;
}

#prem-res-img {
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.img-container-2 {
  border: 1px solid #cccccc;
  height: auto;
  max-width: 100%;
  position: relative;
}

#birthday-img {
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.img-container-3 {
  border: 1px solid #cccccc;
  height: auto;
  max-width: 100%;
  position: relative;
}

#jordan-img {
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.bottom-half-prem-res {
  border-top: 0;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.bottom-half-bday {
  border-top: 0;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.bottom-half-jordan {
  border-top: 0;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.client-group {
  padding-top: 50px;
  padding-bottom: 50px;
}

.client-inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.busseys {
  background-image: url(../../IMG/bussey-blk.jpg);
  padding: 0 20px;
}

.crane {
  background-image: url(../../IMG/crane-blk.jpg);
  padding: 0 20px;
}

.beat {
  background-image: url(../../IMG/beat-blk.jpg);
  padding: 0 20px;
}

.diver {
  background-image: url(../../IMG/northern-blk.jpg);
}

.latest-btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.prem-res-btn {
  color: #ffffff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.happy-bday-btn {
  color: #ffffff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.jordan-btn {
  color: #ffffff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.oc-btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #333645;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  max-height: 47px;
  max-width: 174px;
}

.read-more-btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 1.063rem;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
}

.bespoke-btn {
  color: #ffffff;
  background-color: #67809f;
  border-color: #67809f;
}

.it-sup-btn {
  color: #ffffff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.digi-mark-btn {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.telecoms-btn {
  color: #ffffff;
  background-color: #d64541;
  border-color: #d64541;
}

.web-des-btn {
  color: #ffffff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.cyber-sec-btn {
  color: #ffffff;
  background-color: #f62459;
  border-color: #f62459;
}

.dev-train-btn {
  color: #ffffff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.find-out-more-btn {
  color: #ffffff;
  background-color: #f62459;
  border-color: #f62459;
  line-height: 50px;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #333645;
  border-color: #333645;
  margin-left: 20px;
  line-height: 1;
  font-size: 1rem;
  height: 56px;
  width: 66px;
  padding: 5px 15px;
  border-radius: 3px;
}

.call-us-btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.case-study-btn {
  background-color: #4183d7;
  color: #ffffff;
  top: 10px;
  right: 0;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.4rem;
  font-weight: 600;
  position: absolute;
}

.insights-btn {
  background-color: #926fb1;
  color: #ffffff;
  top: 10px;
  right: 0;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.4rem;
  font-weight: 600;
  position: absolute;
}

.contact-us {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
}

.other-contents-text {
  list-style: none;
  padding-left: 0px;
  font-size: 13px;
}

.container-foot {
  background-color: #333645;
  color: #ffffff;
  line-height: 1.4;
  letter-spacing: 0.4px;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 47px 0 43px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  line-height: 1.48;
}

.footer-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 1.48;
}

.footer-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  line-height: 1.48;
}

.footer-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  line-height: 1.48;
}

.social-media-title {
  margin-bottom: 0px;
}

.social {
  background-color: #00000040;
  margin: 30px 0px 0px;
  font-size: 1.75rem;
  line-height: 3.4rem;
  color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45%;
  padding-left: 15px;
  padding-right: 15px;
}

.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.twitter-outer {
  margin-left: 50px;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter:hover {
  background-color: #00aced;
}

.linkedin:hover {
  background-color: #0077b5;
}

.accreditations-main {
  display: none;
  padding: 50px 0;
  width: 100%;
  height: 188px;
}

.accreditations-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.accreditation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.google {
  background-image: url(../../IMG/google-partner.png);
  height: 82px;
  width: 220px;
  background-repeat: no-repeat;
  padding: 0 20px;
  background-size: contain;
}

.microsoft {
  background-image: url(../../IMG/silver-microsoft-partner.jpg);
  height: 54px;
  width: 88px;
  background-repeat: no-repeat;
  padding: 0 20px;
  background-size: contain;
}

.future-50 {
  background-image: url(../../IMG/future-50-blk.jpg);
  height: 54px;
  width: 34px;
  background-repeat: no-repeat;
  padding: 0 20px;
  background-size: contain;
}

.future-50:hover {
  background-image: url(../../IMG/future-50-col.jpg);
}

.iso {
  background-image: url(../../IMG/iso-blk.jpg);
  height: 54px;
  width: 46px;
  background-repeat: no-repeat;
  padding: 0 20px;
  background-size: contain;
}

.iso:hover {
  background-image: url(../../IMG/iso-col.jpg);
}

.carbon {
  background-image: url(../../IMG/norfolk-carbon-charter-blk.jpg);
  height: 54px;
  width: 134px;
  background-repeat: no-repeat;
  padding: 0 20px;
  background-size: contain;
}

.carbon:hover {
  background-image: url(../../IMG/norfolk-carbon-charter-col.jpg);
}

.client-container {
  display: none;
  width: 100%;
}

.client-inner {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.busseys {
  background-image: url(../../IMG/bussey-blk.jpg);
  height: 46px;
  width: 122px;
  background-repeat: no-repeat;
  background-size: contain;
}

.busseys:hover {
  background-image: url(../../IMG/bussey-col.png);
}

.crane {
  background-image: url(../../IMG/crane-blk.jpg);
  height: 46px;
  width: 185px;
  background-repeat: no-repeat;
  background-size: contain;
}

.crane:hover {
  background-image: url(../../IMG/crane-col.png);
}

.beat {
  background-image: url(../../IMG/beat-blk.jpg);
  height: 46px;
  width: 47px;
  background-repeat: no-repeat;
  background-size: contain;
}

.beat:hover {
  background-image: url(../../IMG/beat-col.png);
}

.diver {
  background-image: url(../../IMG/northern-blk.jpg);
  height: 46px;
  width: 208px;
  background-repeat: no-repeat;
  background-size: contain;
}

.diver:hover {
  background-image: url(../../IMG/northern-col.png);
}

.netmatters-logo {
  width: 100%;
  height: 70px;
  background-image: url("../../IMG/NM-logo-head.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  max-width: 100%;
}

.call-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  width: 56px;
}

.menu {
  margin-top: 5px;
}

.mid-search-bar {
  display: none;
  width: 237px;
  height: 47px;
  position: relative;
  margin-top: 5px;
  margin-left: 50px;
}

.search-style-mid {
  background-color: #ffffff;
}

.search-bar-middle {
  width: 237px;
  height: 56px;
  border-color: #cccccc;
  padding: 5px 15px;
}

.header-top-half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.search-bar-items {
  width: 100%;
  position: relative;
  margin-top: 11px;
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: none;
  transition: none;
  width: 100%;
  padding-right: 40px;
  border-radius: 2px;
  height: 47px;
  padding: 5px 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
}

.mobile-break-invis {
  display: none;
}

#last-search-div {
  display: none;
  position: relative;
  margin-top: 5px;
}

#search-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 47px;
  width: 47px;
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#search-icon-middle {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 56px;
  width: 56px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  background-color: #999aa2;
}

#search-icon-last {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 56px;
  width: 56px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  background-color: #999aa2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fa-bars {
  font-size: 25px;
}

.header-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.NM-header-logo {
  padding: 0;
  width: 402px;
  height: auto;
  vertical-align: middle;
}

.header-container {
  padding: 20px 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.support-btn {
  width: 145px;
  height: 56px;
  color: #ffffff;
  background-color: #4183d7;
  padding: 10px 15px;
  font-size: 18px;
  display: none;
  margin-top: 5px;
  margin-left: 70px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
}

.contact-btn {
  width: 152px;
  height: 56px;
  color: #ffffff;
  background-color: #999aa2;
  padding: 10px 15px;
  font-size: 18px;
  display: none;
  margin-top: 5px;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
}

.little-search-btn {
  outline: none;
  padding: 13px 20px 3px;
  border-radius: 3px;
  border: none;
  width: 63px;
  height: 56px;
  color: #ffffff;
  background-color: #999aa2;
  margin-top: 5px;
  margin-left: 20px;
  display: none;
}

.last-search-bar {
  display: none;
  position: relative;
  border-radius: 0;
  width: 303px;
  height: 56px;
  margin-left: 20px;
  border-color: #cccccc;
  border-width: 1px;
  padding: 5px 15px 5px 15px;
}

.main-nav-bar {
  display: none;
  background-color: #333645;
}

.nav-container {
  margin-right: auto;
  margin-left: auto;
  width: 970px;
  height: 99px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  padding: 0;
}

.nav-square {
  color: #ffffff;
  text-align: center;
  height: 99px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-square-web-des:hover {
  background-color: #926fb1;
  color: #ffffff;
}

.nav-square-web-des:hover .web-des-nav {
  color: #ffffff;
}

.nav-square-it-sup:hover {
  background-color: #4183d7;
  color: #ffffff;
}

.nav-square-it-sup:hover .it-sup-nav {
  color: #ffffff;
}

.nav-square-tel-ser:hover {
  background-color: #d64541;
  color: #ffffff;
}

.nav-square-tel-ser:hover .tel-ser-nav {
  color: #ffffff;
}

.nav-square-bes-sof:hover {
  background-color: #67809f;
  color: #ffffff;
}

.nav-square-bes-sof:hover .bes-sof-nav {
  color: #ffffff;
}

.nav-square-dig-mar:hover {
  background-color: #2ecc71;
  color: #ffffff;
}

.nav-square-dig-mar:hover .dig-mar-nav {
  color: #ffffff;
}

.nav-square-cyb-sec:hover {
  background-color: #f62459;
  color: #ffffff;
}

.nav-square-cyb-sec:hover .cyb-sec-nav {
  color: #ffffff;
}

.nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 155px;
  height: 99px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding: 19px 0 18px;
  line-height: 1;
}

.nav-inner-top-text {
  font-size: 10px;
  margin: 0;
  line-height: 1;
}

.nav-inner-btm-text {
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.nav-icons {
  padding-bottom: 10px;
}

.web-des-nav {
  color: #926fb1;
}

.it-sup-nav {
  color: #4183d7;
}

.tel-ser-nav {
  color: #d64541;
}

.bes-sof-nav {
  color: #67809f;
}

.dig-mar-nav {
  color: #2ecc71;
}

.cyb-sec-nav {
  color: #f62459;
}

.on-hover-btm-bar {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #000000;
}

.dots {
  background-color: #67809f;
}

.monitor {
  background-color: #4183d7;
}

.graph {
  background-color: #2ecc71;
}

.telephone {
  background-color: #d64541;
}

.angle-brac {
  background-color: #926fb1;
}

.c-sec {
  background-color: #f62459;
}

.scs {
  background-color: #926fb1;
}

@media (min-width: 768px) {
  .search-bar {
    display: none;
  }
  .call-us-btn {
    display: none !important;
  }
  #search-icon {
    display: none;
  }
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 345px;
    height: 312px;
    margin: 15px 15px 15px 10px;
  }
  .container-block-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-nm-text-only {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .latest-prem {
    margin-left: auto;
    margin-right: 0px;
  }
  .latest-adam {
    margin-left: 0px;
    margin-right: auto;
  }
  .latest-jordy {
    display: none;
  }
  .latest-cards {
    width: 375px;
    height: 600px;
    padding: 0px 15px;
  }
  .latest-cards-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .jordy {
    display: none;
  }
  .accreditations-container {
    width: 750px;
  }
  .mid-search-bar {
    display: block;
  }
  .search-bar-middle {
    display: block;
  }
  .container-foot {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .footer-1 {
    width: 375px;
  }
  .footer-2 {
    width: 375px;
  }
  .footer-3 {
    width: 375px;
  }
  .footer-4 {
    width: 375px;
  }
  .facebook {
    width: 157px;
  }
  .twitter-outer {
    width: 157px;
    margin-left: 30px;
  }
  .linkedin-outer {
    width: 157px;
  }
  .client-container {
    display: block;
  }
  .client-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .call-us {
    display: none;
  }
  .accreditations-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-container {
    width: 750px;
  }
  .client-inner {
    width: 750px;
  }
}

@media (any-hover: hover) {
  .on-hover-btm-bar:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .mobile-break-invis {
    display: block;
  }
  .main-banner-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner-main-text {
    text-align: left;
    padding-left: 0px;
    padding-right: 15px;
  }
  .find-out-more-btn {
    margin: 0;
  }
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 455px;
    height: 290px;
    margin: 15px 15px 15px 10px;
  }
  #bespoke-sw,
  #it-sup,
  #dig-mark {
    width: 294px;
    min-height: 356px;
    margin: 30px 15px 30px 15px;
  }
  .container-block-cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-nm {
    background-image: url(../../IMG/netmatters-logo-background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
  }
  .container-nm-text-only {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block-cards {
    max-width: 720px;
  }
  .support-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .little-search-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mid-search-outer {
    display: none;
  }
  .mid-search-bar {
    display: none;
  }
  .call-us {
    display: none;
  }
  .header-container {
    width: 970px;
  }
  .nav-container {
    width: 970px;
  }
  .latest-cards {
    width: 485px;
    height: 663px;
    padding: 0px 15px;
  }
  .busseys {
    height: 63px;
    width: 169px;
  }
  .crane {
    height: 63px;
    width: 258px;
  }
  .beat {
    height: 63px;
    width: 65px;
  }
  .diver {
    height: 63px;
    width: 289px;
  }
  .client-inner {
    width: 970px;
  }
  .outer-container-foot {
    background-color: #333645;
    width: 100%;
  }
  .container-foot {
    width: 970px;
  }
  .microsoft {
    height: 85px;
    width: 140px;
  }
  .future-50 {
    height: 111px;
    width: 70px;
  }
  .iso {
    height: 100px;
    width: 85px;
  }
  .carbon {
    height: 80px;
    width: 200px;
  }
  .accreditations-container {
    width: 970px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1260px) {
  .about-nm {
    width: 40%;
  }
  #prem-res-img:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  #birthday-img:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  #jordan-img:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 270px;
    height: 312px;
    margin: 15px 15px 15px 10px;
  }
  #bespoke-sw,
  #it-sup,
  #dig-mark {
    width: 370px;
    height: 312px;
    margin: 30px 15px 30px 15px;
  }
  .little-search-btn {
    display: none;
  }
  .last-search-bar {
    display: block;
  }
  #search-icon-last {
    display: block;
  }
  .search-style-mid {
    display: none;
  }
  .call-us {
    display: none;
  }
  .little-search-btn {
    display: none;
  }
  .little-search-btn-last {
    display: none;
  }
  #last-search-div {
    display: block;
  }
  .main-banner-container {
    width: 1200px;
  }
  .container-nm-text-only {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  .latest-cards-only {
    padding-bottom: 50px;
  }
  .latest-cards {
    width: 370px;
    height: 214px;
    padding: 50px 15px;
    margin-bottom: 375px;
  }
  .latest-jordy {
    display: block;
    margin-right: auto;
  }
  .latest-adam {
    margin-left: 15px;
    margin-right: 15px;
  }
  .container-foot {
    width: 1200px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .footer-1 {
    width: 300px;
  }
  .footer-2 {
    width: 300px;
  }
  .footer-3 {
    width: 300px;
  }
  .footer-4 {
    width: 300px;
  }
  .facebook {
    width: 120px;
  }
  .twitter-outer {
    width: 120px;
    margin-left: 30px;
  }
  .linkedin-outer {
    width: 120px;
  }
  .busseys {
    height: 70px;
    width: 188px;
  }
  .crane {
    height: 70px;
    width: 287px;
  }
  .beat {
    height: 70px;
    width: 72px;
  }
  .diver {
    height: 70px;
    width: 322px;
  }
  .client-inner {
    width: 1200px;
  }
  .microsoft {
    height: 70px;
    width: 115px;
  }
  .future-50 {
    height: 70px;
    width: 44px;
  }
  .iso {
    height: 70px;
    width: 60px;
  }
  .carbon {
    height: 70px;
    width: 175px;
  }
  .accreditations-container {
    width: 1200px;
  }
  .nav-container {
    width: 1200px;
  }
  .nav-inner {
    width: 193px;
  }
  .header-container {
    width: 1200px;
  }
}

@media (min-width: 1524px) {
  .container-block-cards {
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (min-width: 1794px) {
  .container-block-cards {
    padding-right: 270px;
    padding-left: 270px;
  }
}
/*# sourceMappingURL=style.css.map */