* {
    font-family: "poppins", "sans-serif";
    box-sizing: border-box;
   
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.main-div {
    max-width: 100%;
}

header {
    width: 100%;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
}




