.latest-btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.prem-res-btn {
  color: #ffffff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.happy-bday-btn {
  color: #ffffff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.jordan-btn {
  color: #ffffff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.oc-btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #333645;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
}

.read-more-btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 1.063rem;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
}

.bespoke-btn {
  color: #ffffff;
  background-color: #67809f;
  border-color: #67809f;
}

// .bespoke-btn:hover {
//   background-color: #ffffff;
//   color: #67809f;
// }

.it-sup-btn {
  color: #ffffff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.it-sup-btn:hover {
  background-color: #ffffff;
  color: #4183d7;
}

.digi-mark-btn {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.digi-mark-btn:hover {
  background-color: #ffffff;
  color: #2ecc71;
}

.telecoms-btn {
  color: #ffffff;
  background-color: #d64541;
  border-color: #d64541;
}

.telecoms-btn:hover {
  background-color: #ffffff;
  color: #d64541;
}

.web-des-btn {
  color: #ffffff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.web-des-btn:hover {
  background-color: #ffffff;
  color: #926fb1;
}

.cyber-sec-btn {
  color: #ffffff;
  background-color: #f62459;
  border-color: #f62459;
}

.cyber-sec-btn:hover {
  background-color: #ffffff;
  color: #f62459;
}

.dev-train-btn {
  color: #ffffff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.dev-train-btn:hover {
  background-color: #ffffff;
  color: #926fb1;
}

.find-out-more-btn {
  color: #ffffff;
  background-color: #f62459;
  border-color: #f62459;
  line-height: 50px;
  height: auto;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #333645;
  border-color: #333645;
  margin-left: 20px;
  height: 56px;
  line-height: 1;
  font-size: 1.125rem;
  height: 56px;
  padding: 5px 15px;
  border-radius: 3px;
}

.call-us-btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.case-study-btn {
  background-color: #4183d7;
  color: #ffffff;
  top: 10px;
  right: 0;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.4rem;
  font-weight: 600;
  position: absolute;
}
.insights-btn {
  background-color: #926fb1;
  color: #ffffff;
  top: 10px;
  right: 0;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.4rem;
  font-weight: 600;
}
