/* main img banner holding the image and the text */

.primary-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 15px;
  // display: flex;
  // justify-content: space-between;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 7, 1),
      rgba(7, 7, 7, 0)
    ),
    url("../../IMG/big-lock.jpg");
  background-position: center;
  width: 100%;
  height: 681px;
  color: white;
  padding: 10px 0px 0px 0px;
}

.main-banner-container {
    display: flex;
    flex-direction: column;
  }

.bm-cyb-sec-h1 {
  font-size: 48px;
}

.bm-small-text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

/* banner text */
.banner-main-text {
  text-align: center;
}

.container-block-cards {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 50px 15px;
}

.block-cards {
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 15px 0px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  color: #333645;
  width: 100%;
  max-width: 720px;
  max-height: 290px;
}

.block-h2 {
  font-size: 1.125rem;
  // padding-bottom: 17px;
  margin: 0 0 11px;
}

.block-p {
  font-size: 13px;
}

.black-line {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  margin: auto;
  width: 28px;
  height: 3px;
}

#bespoke-sw:hover {
  background-color: #67809f;
  color: #ffffff;
  .bespoke-btn {
    background-color: #ffffff;
    color: #67809f;
  }
  .dots {
    background-color: #ffffff;
    color: #67809f;
  }
}

#it-sup:hover {
  background-color: #4183d7;
  color: #ffffff;
  .it-sup-btn {
    background-color: #ffffff;
    color: #4183d7;
  }
  .monitor {
    background-color: #ffffff;
    color: #4183d7;
  }
}

#dig-mark:hover {
  background-color: #2ecc71;
  .digi-mark-btn {
    background-color: #ffffff;
    color: #2ecc71;
  }
  .graph {
    background-color: #ffffff;
    color: #2ecc71;
  }
}

#tel-serv:hover {
  background-color: #d64541;
  .telecoms-btn {
    background-color: #ffffff;
    color: #d64541;
  }
  .telephone {
    background-color: #ffffff;
    color: #d64541;
  }
}

#web-serv:hover {
  background-color: #926fb1;
  .web-des-btn {
    background-color: #ffffff;
    color: #926fb1;
  }
  .angle-brac {
    background-color: #ffffff;
    color: #926fb1;
  }
}

#cyber-sec:hover {
  background-color: #f62459;
  .cyber-sec-btn {
    background-color: #ffffff;
    color: #f62459;
  }
  .c-sec {
    background-color: #ffffff;
    color: #f62459;
  }
}

#dev-train:hover {
  background-color: #926fb1;
  .dev-train-btn {
    background-color: #ffffff;
    color: #926fb1;
  }
  .scs {
    background-color: #ffffff;
    color: #926fb1;
  }
}

.latest-title-container {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

//----------------black line for latest title NOT working correctly ATM----Now working 


#latest-news-ul {
  list-style: none;
  padding: 0px;
}

.latest-text-main {
  display: block;
  padding: 40px 0;
  color: #333645;
  font-size: 1.25rem;
  font-weight: 600;

}

  .latest-line {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px; 
}

.latest-news-title {
  list-style-type: none;
    position: relative;
    width: 71px;
}

//------------------------------------------------------------------------------------------------------



.latest-cards-main {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
}

.latest-cards {
  // border: 1px solid #cccccc;
  padding: 15px 15px 15px 15px;
  font-size: 13px;
}

.container-nm {
  background-color: #333645;

  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.container-nm-only {
  padding-left: 15px;
  padding-right: 15px;
}

.about-nm-title {
  font-size: 36px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-nm {
  flex-shrink: 1;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
}

#latest-title-ul {
  padding:0 0 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.prem-res {
  background-size: cover;
  // padding: 0 0 50px 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 0;
}

.birthday {
  background-size: cover;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.jordan {
  background-size: cover;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.prem-res-title {
  color: #4183d7;
}

.bday-title {
  color: #4183d7;
}

.jordan-title {
  color: #926fb1;
}

.news-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.875rem;
  padding-left: 20px;
  line-height: 1.375rem;
}

.posted-by {
  color: #666666;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  align-items: center;

  & p {
    margin: 0;
  }
}

.posted-by::after {
  border-top: 1px solid #ccc;

  display: block;

  width: 90%;
}

.little-nm {
  width: 47px;
  height: 47px;

  vertical-align: middle;
}

.img-container-1 {
  border: 1px solid #cccccc;
  margin-bottom: -20px;
  height: auto;
  max-width: 100%;
  position: relative;
}

#prem-res-img {
  width: 100%;
  transition: transform .2s;
}

.img-container-2 {
  border: 1px solid #cccccc;
  height: auto;
  max-width: 100%;
  position: relative;
}

#birthday-img {
  width: 100%;
  transition: transform .2s;
}

.img-container-3 {
  border: 1px solid #cccccc;
  height: auto;
  max-width: 100%;
  position: relative;
}

#jordan-img {
  width: 100%;
  transition: transform .2s;
}

.bottom-half-prem-res {
  border-top: 0;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.bottom-half-bday {
  border-top: 0;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.bottom-half-jordan {
  border-top: 0;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.client-group {
  padding-top: 50px;
  padding-bottom: 50px;
}

// .client-container {
//   display: none;
// }

.client-inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.client-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.busseys {
  background-image: url(../../IMG/bussey-blk.jpg);
  padding: 0 20px;
}

.crane {
  background-image: url(../../IMG/crane-blk.jpg);
  padding: 0 20px;
}

.beat {
  background-image: url(../../IMG/beat-blk.jpg);
  padding: 0 20px;
}

.diver {
  background-image: url(../../IMG/northern-blk.jpg);
}
