.netmatters-logo {
  width: 100%;
  height: 70px;
  background-image: url("../../IMG/NM-logo-head.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  max-width: 100%;
}

.call-us {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
}

.menu {
  margin-top: 5px;
  &:hover {
    background-color: #22242e;
    border-color: #191022;
    cursor: pointer;
  }
}

// .mid-search-outer {
//   display: flex;
// }

.mid-search-bar {
  display: none;
  width: 237px;
  height: 47px;
  position: relative;
  margin-top: 5px;
  margin-left: 50px;

}

.search-style-mid {
  background-color: #ffffff;
}

.search-bar-middle {
  width: 237px;
  height: 56px;
  border: 1px solid #cccccc;
  border-radius: 0 3px 3px 0;
  padding: 5px 15px;
}

.header-top-half {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.search-bar-items {
  width: 100%;
  position: relative;
  margin-top: 11px;
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: none;
  width: 100%;
  padding-right: 40px;
  border-radius: 2px;
  height: 47px;
  padding: 5px 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
 
}

  .mobile-break-invis {
    display: none;
  }

#last-search-div {
  display: none;
  position: relative;
  margin-top: 5px;
}

#search-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 47px;
  width: 47px;
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);

}

#search-icon-middle {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 56px;
  width: 63px;
  border-radius: 0 3px 3px 0;
  font-size: 20px;
  color: #ffffff;
  background-color: #999aa2;
  border: 1px solid #999aa2;
  &:hover {
    background-color: #7e808a;
  }
}

#search-icon-last {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 56px;
  width: 63px;
  border: 1px solid #999aa2;
  font-size: 20px;
  color: #ffffff;
  background-color: #999aa2;
  border-radius: 0 3px 3px 0;
  &:hover {
    background-color: #7e808a;
    border: 1px solid #7e808a;
  }
}

// #search-icon-last {
//   display: none;
//   position: absolute;
//   right: 0px;
//   top: 0px;
//   height: 47px;
//   width: 47px;
//   border: none;
//   font-size: 20px;
//   background-color: rgba(0, 0, 0, 0);

// }

.fa-bars {
  font-size: 25px;
}

.header-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.NM-header-logo {
  padding: 0;
  width: 402px;
  height: auto;
  vertical-align: middle;


}

.header-container {
  padding: 20px 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.support-btn {
  width: 145px;
  height: 56px;
  color: #ffffff;
  background-color: #4183d7;
  padding: 15px 15px 15px 15px;
  font-size: 18px;
  display: none;
  margin-top: 5px;
  margin-left: 70px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    background-color: #2a6ec6;
    border-color: #2665b5;
  }
}

.contact-btn {
  width: 152px;
  height: 56px;
  color: #ffffff;
  background-color: #999aa2;
  padding: 15px 15px 15px 15px;
  font-size: 18px;
  display: none;
  margin-top: 5px;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    background-color: #84858f;
    border-color: #797a85;
  }
}

.little-search-btn {
  outline: none;
  padding: 13px 20px 3px;
  border-radius: 3px;
  border: none;
  width: 63px;
  height: 56px;
  color: #ffffff;
  background-color: #999aa2;
  margin-top: 5px;
  margin-left: 20px;
  display: none;
  &:hover {
    background-color: #7e808a;
    border-color: #7e808a;
  }
}

.last-search-bar {
  display: none;
  border: 1px solid #e5e5e5;
  position: relative;
  border-radius: 0 3px 3px 0;
  width: 303px;
  height: 56px;
  margin-left: 20px;
  border-color: #cccccc;
  border-width: 1px;
  padding: 5px 15px 5px 15px;
}

//NAV BAR-------------------------------------------------------------------------------------------------//

.main-nav-bar {
  display: none;
  background-color: #333645;

}

.nav-container {
  margin-right: auto;
  margin-left: auto;
  width: 970px;
  height: 99px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  position: relative;
  // border-left: 1px solid hsla(0,0%,100%,.1);
  // border-right: 1px solid rgba(0,0,0,.25);
  padding: 0;
    li {
      padding: 0;
    }
}

.nav-square {
  color: #ffffff;
  text-align: center;
  height: 99px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

}

.nav-square-web-des:hover {
  background-color: #926fb1;
  color: #ffffff;
   .web-des-nav {
    color: #ffffff;
   }
  
  &:hover {

    .on-hover-btm-bar {
      display: flex;
      position: absolute;
      top: 99px;
      right: auto;
      left: 0px;
      background: #79539a;
        &::before {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1000px;
        background-color: #79539a;
        position: absolute;
        right: 1100px;
        top: 0px;
      }
      &::after {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1100px;
        background-color: #79539a;
        position: absolute;
        left: 1100px;
        top: 0px;
      }
    }
  }
}

.nav-square-it-sup:hover {
  background-color: #4183d7;
  color: #ffffff;
  .it-sup-nav {
    color: #ffffff;
  }
  &:hover {

    .on-hover-btm-bar {
      display: flex;
      position: absolute;
      top: 99px;
      right: auto;
      left: 0px;
      background: #286abd;
        &::before {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1000px;
        background-color: #286abd;
        position: absolute;
        right: 1100px;
        top: 0px;
      }
      &::after {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1100px;
        background-color: #286abd;
        position: absolute;
        left: 1100px;
        top: 0px;
      }
    }
  }
}

.nav-square-tel-ser:hover {
  background-color: #d64541;
  color: #ffffff;
  .tel-ser-nav {
    color: #ffffff;
  }
  &:hover {

    .on-hover-btm-bar {
      display: flex;
      position: absolute;
      top: 99px;
      right: auto;
      left: 0px;
      background: #bc2c28;
        &::before {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1000px;
        background-color: #bc2c28;
        position: absolute;
        right: 1100px;
        top: 0px;
      }
      &::after {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1100px;
        background-color: #bc2c28;
        position: absolute;
        left: 1100px;
        top: 0px;
      }
    }
  }
}

.nav-square-bes-sof:hover {
  background-color: #67809f;
  color: #ffffff;
  .bes-sof-nav {
    color: #ffffff;
  }
  &:hover {

    .on-hover-btm-bar {
      display: flex;
      position: absolute;
      top: 99px;
      right: auto;
      left: 0px;
      background: #526781;
        &::before {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1000px;
        background-color: #526781;
        position: absolute;
        right: 1100px;
        top: 0px;
      }
      &::after {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1100px;
        background-color: #526781;
        position: absolute;
        left: 1100px;
        top: 0px;
      }
    }
  }
}

.nav-square-dig-mar:hover {
  background-color: #2ecc71;
  color: #ffffff;
  .dig-mar-nav {
    color: #ffffff;
  }
  &:hover {
    .on-hover-btm-bar {
      display: flex;
      position: absolute;
      top: 99px;
      right: auto;
      left: 0px;
      background: #25a25a;
        &::before {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1000px;
        background-color: #25a25a;
        position: absolute;
        right: 1100px;
        top: 0px;
      }
      &::after {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1100px;
        background-color: #25a25a;
        position: absolute;
        left: 1100px;
        top: 0px;
      }
    }
  }
}

.nav-square-cyb-sec:hover {
  background-color: #f62459;
  color: #ffffff;
  .cyb-sec-nav {
    color: #ffffff;
  }
  &:hover {
    .on-hover-btm-bar {
      display: flex;
      position: absolute;
      top: 99px;
      right: auto;
      left: 0px;
      background: #de093f;
      &::before {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1000px;
        background-color: #de093f;
        position: absolute;
        right: 1100px;
        top: 0px;
      }
      &::after {
        content: "";
        overflow-x: hidden;
        height: 45px;
        width: 1100px;
        background-color: #de093f;
        position: absolute;
        left: 1100px;
        top: 0px;
      }
    }
  }
}

.nav-inner {
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 99px;
  border-right: 1px solid hsla(0,0%,100%,.1);
  border-left: 1px solid rgba(0,0,0,.25);
  padding: 19px 0 18px;
  line-height: 1;
}

.nav-inner-top-text {
  font-size: 10px;
  margin: 0;
  line-height: 1;
}

.nav-inner-btm-text {
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.nav-icons {
  padding-bottom: 10px;

}

.web-des-nav {
  color: #926fb1;
}

.it-sup-nav {
  color: #4183d7;
  }

.tel-ser-nav {
  color: #d64541;
}

.bes-sof-nav {
  color: #67809f;
}

.dig-mar-nav {
  color: #2ecc71;
}

.cyb-sec-nav {
  color: #f62459;
}

.on-hover-color-web-des {
  display: none;
  width: 100vw;
  height: 45px;
  background-color: #79539a;

}

.on-hover-color-it-sup {
  display: none;
  width: 4500px;
  height: 45px;
  // background-color: #79539a;

}

.on-hover-color-tel-ser {
  display: none;
  width: 4500px;
  height: 45px;
  // background-color: #79539a;

}

.on-hover-color-bes-sof {
  display: none;
  width: 4500px;
  height: 45px;
  // background-color: #79539a;

}

.on-hover-color-dig-mar {
  display: none;
  width: 4500px;
  height: 45px;
  // background-color: #79539a;

}

.on-hover-color-cyb-sec {
  display: none;
  width: 4500px;
  height: 45px;
  // background-color: #79539a;

}

.on-hover-btm-bar {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  content: "";
  width: 1150px;
  height: 45px;
  list-style: none;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

  .white-dash::after {
    content: "-";
    padding-left: 35px;
    color: #ffffff;
  }

//---------------------------------------------------------------------------------------------------------