.netmatters-logo {
  width: 402px;
  height: 70px;
  background-image: url("../../IMG/NM-logo-head.png");
  background-size: cover;
  display: block;
  max-width: 100%;
}

.call-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
}

.mid-search-outer {
  display: flex;
}

.mid-search-bar {
  width: 174px;
  height: 47px;
}

.search-style-mid {
  background-color: #ffffff;
}

.header-top-half {
  display: flex;
  flex-wrap: nowrap;
}

.search-bar-items {
  min-width: 100%;
  position: relative;
  margin-top: 11px;
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: none;
  width: 100%;
  padding-right: 40px;
  border-radius: 2px;
  height: 47px;
  padding: 5px 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  position: relative;
}

#search-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 47px;
  width: 47px;
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);

}

#search-icon-last {
  // position: relative;
  right: 0px;
  top: 0px;
  height: 47px;
  width: 47px;
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);

}

.fa-bars {
  font-size: 25px;
}

.header-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.NM-header-logo {
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

.header-container {
  padding: 20px 15px 10px 15px;
  margin-right: auto;
  margin-left: auto;
}

.support-btn {
  width: 145px;
  height: 56px;
  color: #ffffff;
  background-color: #4183d7;
  padding: 5px 15px;
  font-size: 18px;
  display: none;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
}

.contact-btn {
  width: 152px;
  height: 56px;
  color: #ffffff;
  background-color: #999aa2;
  padding: 5px 15px;
  font-size: 18px;
  display: none;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
}

.little-search-btn {
  outline: none;
  padding: 7px 20px 3px;
  border-radius: 3px;
  width: 63px;
  height: 56px;
  color: #ffffff;
  background-color: #999aa2;
  margin-left: 20px;
  display: none;
}

.last-search-bar {
  display: none;
  // position: absolute;
  border-radius: 0;
  width: 174px;
  height: 56px;
  margin-left: 20px;
}

//NAV BAR-------------------------------------------------------------------------------------------------//

.main-nav-bar {
  background-color: #333645;
}

.nav-container {
  width: 100%;
  height: 99px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  border-left: 1px solid hsla(0,0%,100%,.1);
  border-right: 1px solid rgba(0,0,0,.25);
}

.nav-square {
  color: #ffffff;
  text-align: center;
  height: 99px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.nav-square-web-des:hover {
  background-color: #926fb1;
  color: #ffffff;
  .web-des-nav {
    color: #ffffff;
  }
}

.nav-square-it-sup:hover {
  background-color: #4183d7;
  color: #ffffff;
  .it-sup-nav {
    color: #ffffff;
  }
}

.nav-square-tel-ser:hover {
  background-color: #d64541;
  color: #ffffff;
  .tel-ser-nav {
    color: #ffffff;
  }
}

.nav-square-bes-sof:hover {
  background-color: #67809f;
  color: #ffffff;
  .bes-sof-nav {
    color: #ffffff;
  }
}

.nav-square-dig-mar:hover {
  background-color: #2ecc71;
  color: #ffffff;
  .dig-mar-nav {
    color: #ffffff;
  }
}

.nav-square-cyb-sec:hover {
  background-color: #f62459;
  color: #ffffff;
  .cyb-sec-nav {
    color: #ffffff;
  }
}

.nav-inner {
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 99px;
  border-right: 1px solid hsla(0,0%,100%,.1);
  border-left: 1px solid rgba(0,0,0,.25);
  padding: 19px 0 18px;
  line-height: 1;
}

.nav-inner-top-text {
  font-size: 10px;
  margin: 0;
  line-height: 1;
}

.nav-inner-btm-text {
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.nav-icons {
  padding-bottom: 10px;

}

.web-des-nav {
  color: #926fb1;
}

.it-sup-nav {
  color: #4183d7;
  }

.tel-ser-nav {
  color: #d64541;
}

.bes-sof-nav {
  color: #67809f;
}

.dig-mar-nav {
  color: #2ecc71;
}

.cyb-sec-nav {
  color: #f62459;
}

.on-hover-btm-bar {
  display: none;
  flex-direction: row;
  justify-content: center;
}

//---------------------------------------------------------------------------------------------------------