.icon-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 0 auto 17px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #000000;
}

.dots {
    background-color: #67809f;
}

.monitor {
    background-color: #4183d7;
}

.graph {
    background-color: #2ecc71;
}

.telephone {
    background-color: #d64541;
}

.angle-brac {
    background-color: #926fb1;
}

.c-sec {
    background-color: #f62459;
}

.scs {
    background-color: #926fb1;
}
