.icon-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #000000;
}

.dots {
  background-color: #67809f;
}

// .dots:hover {
//   background-color: #ffffff;
//   color: #67809f;
// }

.monitor {
  background-color: #4183d7;
}

.monitor:hover {
  background-color: #ffffff;
  color: #4183d7;
}

.graph {
  background-color: #2ecc71;
}

.graph:hover {
  background-color: #ffffff;
  color: #2ecc71;
}

.telephone {
  background-color: #d64541;
}

.telephone:hover {
  background-color: #ffffff;
  color: #d64541;
}

.angle-brac {
  background-color: #926fb1;
}

.angle-brac:hover {
  background-color: #ffffff;
  color: #926fb1;
}

.c-sec {
  background-color: #f62459;
}

.c-sec:hover {
  background-color: #ffffff;
  color: #f62459;
}

.scs {
  background-color: #926fb1;
}

.scs:hover {
  background-color: #ffffff;
  color: #926fb1;
}
