@media (min-width: 768px) {
  .search-bar {
    display: none;
  }
  .call-us-btn {
    display: none !important;
  }
  #search-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 345px;
    height: 312px;
    margin: 15px 15px 15px 10px;
  }
  .container-block-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 455px;
    height: 290px;
    margin: 15px 15px 15px 10px;
  }
  #bespoke-sw,
  #it-sup,
  #dig-mark {
    width: 294px;
    height: 356px;
    margin: 30px 15px 30px 15px;
  }
  .container-block-cards {
    align-items: center;
  }
}

@media (min-with: 768px) {
  .latest-cards {
    width: 375px;
    height: 600px;
    padding: 0px 15px;
  }
  .latest-cards-main {
    flex-direction: row;
    justify-content: center;
  }
  .jordy {
    display: none;
  }
}

@media (max-width: 992px) {
  .main-nav-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  .accreditations-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .accreditations-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .accreditations-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .accreditations-container {
    width: 1200px;
  }
}

@media (min-width: 992px) {
  .block-cards {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .mid-search-bar {
    display: block;
  }
}

@media (min-width: 1260px) {
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 270px;
    height: 312px;
    margin: 15px 15px 15px 10px;
  }
  #bespoke-sw,
  #it-sup,
  #dig-mark {
    width: 370px;
    height: 312px;
    margin: 30px 15px 30px 15px;
  }
  .container-block-cards {
    align-items: center;
  }
}

//------------------------------contact us / about etc footer section--------------------------------------//

@media (min-width: 768px) {
  .container-foot {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // align-content: space-between;
  }
}

// @media (min-width: 992px) {
//   .container-foot {

//   }
// }

// @media (min-width: 1260px) {
//   .container-foot {

//   }
// }

//-----------------------------clients container----------------------------------------------------------//

@media (min-width: 768px) {
  .client-container {
    display: block;
  }
}
