@media (min-width: 768px) {


  .search-bar {
    display: none;
  }
  .call-us-btn {
    display: none !important;
  }
  #search-icon {
    display: none;
  }
  
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 345px;
    height: 312px;
    margin: 15px 15px 15px 10px;
  }
  .container-block-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.container-nm-text-only {
  width: 750px;
  margin-right: auto;
  margin-left: auto;
}



  .latest-prem {
    margin-left: auto;
    margin-right: 0px;
  }
  .latest-adam {
    margin-left: 0px;
    margin-right: auto;
  
  }
  .latest-jordy {
    display: none;
  }
  .latest-cards {
    width: 375px;
    height: 600px;
    padding: 0px 15px;
  }

  .latest-cards-only {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }

  // .latest-cards-main {
  //   flex-direction: row;
  // }
  .jordy {
    display: none;
  }

  .accreditations-container {
    width: 750px;
  }
  .mid-search-bar {
    display: block;
  }
  .search-bar-middle {
    display: block;
  }
  .container-foot {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
  }

  .footer-1 {
    width: 375px;
  }
  .footer-2 {
    width: 375px;
  }
  .footer-3 {
    width: 375px;
  }
  .footer-4 {
    width: 375px;
  }

  .facebook {
    width: 157px;
  }
  .twitter-outer {
    width: 157px;
    margin-left: 30px;
  }

  .linkedin-outer {
    width: 157px;
  }

  .client-container {
    display: block;
  }
  .client-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  }
    .call-us {
    display: none;
  }

  .accreditations-main {
    display: flex;
    // width: 750px;
  }
  .header-container {
    width: 750px;
  }
  .client-inner {
    width: 750px;
  }

}

//-------on:hover's---------------------------------------------------------------------------------------

@media (any-hover: hover) {
.on-hover-btm-bar:hover {
  display: flex;
}
}

//--------------------------------------------------------------------------------------------------------

@media (min-width: 992px) {

  .mobile-break-invis {
    display: block;
  }
  .main-banner-container {
    justify-content: flex-start;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
  .banner-main-text {
    // width: 40%;
    text-align: left;
    padding-left: 0px;
    padding-right: 15px;

    
  }
  .find-out-more-btn {
    margin: 0;
  }
  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 455px;
    height: 290px;
    margin: 15px 15px 15px 10px;
  }
  #bespoke-sw,
  #it-sup,
  #dig-mark {
    width: 294px;
    min-height: 356px;
    margin: 30px 15px 30px 15px;
  }
  .container-block-cards {
    align-items: center;
  }
  .container-nm {
  background-image: url(../../IMG/netmatters-logo-background.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: auto 100%;
  }

.container-nm-text-only {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
}


  .main-nav-bar {
  display: flex;
  }
   .block-cards {
  max-width: 720px;
  // min-height: 356px;
  }
    .support-btn {
    display: flex;
  }
  .contact-btn {
    display: flex;
  }
  .little-search-btn {
    display: flex
  }
  .mid-search-outer {
    display: none;
  }
  .mid-search-bar {
    display: none;
  }
  .call-us {
    display: none;
  }
  .header-container {
    width: 970px;
  }
  .nav-container {
    width: 970px;
  }

.latest-cards {
    width: 485px;
    height: 663px;
    padding: 0px 15px;
  }

  .busseys {
  height: 63px;
  width: 169px;
  }
.crane {
  height: 63px;
  width: 258px;
}
.beat {
  height: 63px;
  width: 65px;
}
.diver {
  height: 63px;
  width: 289px;
}
.client-inner {
  width: 970px;
}
.outer-container-foot {
  background-color: #333645;
  width: 100%;
}
.container-foot {
  width: 970px;
}

.microsoft {
  height: 85px;
  width: 140px;
}

.future-50 {
  height: 111px;
  width: 70px;
}

.iso {
  height: 100px;
  width: 85px;
}

.carbon {
  height: 80px;
  width: 200px;  
}

.accreditations-container {
  width: 970px;
  margin:  auto;
  justify-content: center; 
}

}
//--------------------------------------------------------------------------------------------------------

@media (min-width:1260px) {
  .about-nm {
    width: 40%;
      }
    #prem-res-img:hover {
     transform: scale(1.25);
  }
    #birthday-img:hover {
    transform: scale(1.25);
  }
    #jordan-img:hover {
    transform: scale(1.25);
  }

  .on-hover-btm-bar {
    font-size: 16px;
    margin-left: auto;
 
  }

  #tel-serv,
  #web-serv,
  #cyber-sec,
  #dev-train {
    width: 270px;
    height: 312px;
    margin: 15px 15px 15px 10px;
  }
  #bespoke-sw,
  #it-sup,
  #dig-mark {
    width: 370px;
    height: 312px;
    margin: 30px 15px 30px 15px;
  }
  .little-search-btn {
    display: none;
  }
  .last-search-bar {
   display: block;
  }
  #search-icon-last {
    display: block;
  }
  .search-style-mid {
    display: none;
  }
  .call-us {
    display: none;
  }
  .little-search-btn {
    display: none;
  }
  .little-search-btn-last {
    display: none;
  }
  #last-search-div {
    display: block;
  }

.main-banner-container {
  width: 1200px;
}

.container-nm-text-only {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


.latest-cards-only {
  padding-bottom: 50px;
}  

.latest-cards {
    width: 370px;
    height: 214px;
    padding: 50px 15px;
    margin-bottom: 375px;
  }

 .latest-jordy {
   display: block;
   margin-right: auto;
 } 

 .latest-adam {
   margin-left: 15px;
   margin-right: 15px;
 }

.container-foot {
  width: 1200px;
  justify-content: flex-start;
  flex-flow: row nowrap;

}
 .footer-1 {
    width: 300px;
  }
  .footer-2 {
    width: 300px;
  }
  .footer-3 {
    width: 300px;
  }
  .footer-4 {
    width: 300px;
  }

  .facebook {
    width: 120px;
  }
  .twitter-outer {
    width: 120px;
    margin-left: 30px;
  }

  .linkedin-outer {
    width: 120px;
  }
  .busseys {
  height: 70px;
  width: 188px;
  }
.crane {
  height: 70px;
  width: 287px;
}
.beat {
  height: 70px;
  width: 72px;
}
.diver {
  height: 70px;
  width: 322px;
}

.client-inner {
  width: 1200px;
}

.microsoft {
  height: 70px;
  width: 115px;
}

.future-50 {
  height: 70px;
  width: 44px;
}

.iso {
  height: 70px;
  width: 60px;
}

.carbon {
  height: 70px;
  width: 175px;  
}

.accreditations-container {
  width: 1200px;
}

.nav-container {
  width: 1200px;
}
.nav-inner {
  width: 193px;
  // margin-left: auto;
  // margin-right: auto;
}

.header-container {
    width: 1200px;
  }

}


@media (min-width: 1524px) {
    .container-block-cards {
     padding-right: 150px;
     padding-left: 150px;
  }
}

@media (min-width: 1794px) {
    .container-block-cards {
     padding-right: 270px;
     padding-left: 270px;
  }
}

//-------------------------------------------------------------------------------------------------IE compat

@media (min-width:400px) and (-ms-high-contrast: none), (-ms-high-contrast: active) { }